<!DOCTYPE html>
<html>
  <head>
    <title>MessengerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
      <div class="container">
        <img src="https://content.codecademy.com/courses/learn-rails/img/logo-1m.svg">
        <h1>Messenger</h1>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
